# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/*.csv
data/*.json
data/*.parquet

# Logs
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Secrets
.env.*
